@using Microsoft.AspNetCore.Identity
@using BugTracker.Data.Models;
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bug Tracker</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/fontscss.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow mb-3">
            <div class="container">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="IndexLogged">Bug Tracker</a>
                }
                else
                {
                    <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">Bug Tracker</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="topbar-divider d-none d-sm-block"></div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Companies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Create">Create News</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="sticky-footer text-muted">
        <div class="container my-auto text-center">
            &copy; 2020 - Bug Tracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/vendor/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/vendor/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
